$borer--color: #e9e9ee;
$white--color: #fff;
$gray--color: #777181;
$gray--color-2: #f7f7f9;
$Second-color: #00c4be;
$third--color: #6653e8;
$black--color: #1b1525;

$manrope-bold: "manrope-bold";
$manrope-semibold: "manrope-semibold";
$manrope-light: "manrope-light";
$manrope-regular: "manrope-regular";
$manrope-medium: "manrope-medium";

$Open_Sans: "Open_Sans";

$Oxygen-Light: "Oxygen-Light";
$Oxygen-Regular: "Oxygen-Regular";

$Viga-Regular: "Viga-Regular";
